{% extends 'menu_bar.html' %}

{% block content %}

<div>
    <h2>Поиск</h2>
    <div class="board">
        <form method="get">
            <input name="name" type="text"><button type="submit">Найти</button>
        </form>
    </div>
    <p><b>Найдено: {{ users | length }}</b></p>
{% for user in users %}
<p>
    <b style="color: blue; font-size: 20px;">{{ user.name }}</b>,
    {{ user.age }},
    {% if user.is_blocked %}
    заблокирован, разблокируется {{ user.unblock_date }}
    {% else %}
    не заблокирован
    {% endif %}
</p>
{% endfor %}</div>

{% endblock %}
